.container{
	display: flex;
   margin-left: 250px;
}

.grid{
   justify-content: center;
	width: 200px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	background-color: pink;
	
}

.grid div{
	height: 20px;
	width: 20px;
	
	
}  
.hold-grid {
   justify-content:left;
 	width: 125px;
	height: 125px;
	display: flex;
	flex-wrap: wrap;
	background-color: blue;  
}
.mini-grid{
	margin-left: 30px;
	width: 125px;
	height: 125px;
	display: flex;
	flex-wrap: wrap;
	background-color: blue;
}
.mini-grid div{
	height:25px;
	width: 25px;
	
}
.blue {
   background-color:blue;
}

.tetris{
	outline: 0.5px ridge yellow;
}
